:root {
    --borde_imput: #cccccc;
    --borde_contenido: #3172b7;

    --boton_azul: #2c82de;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.contenedor_grid_1,
.contenedor_grid_2 {
    display: grid;
}

.contenedor_grid_1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    text-align: center;
}

.contenedor_grid_2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    border: 3px solid var(--borde_contenido);
    margin: 7% 22%;
}

.logo {
    text-transform: uppercase;
    font-size: 120%;
    font-weight: bold;

    padding: 3% 0%;
}

.contenedor {
    /* padding: 10% 0%; */
    font-size: 90%;
}

.formulario {
    display: flex;
    flex-direction: column;

    margin: 0% 30%;
}

label {
    display: block;
    text-align: left;
}

.link_registrarse {
    text-align: left;
}

.elemento_imput {
    width: 100%;
    display: block;
    padding: 6px 25%;
    border: 1px solid var(--borde_imput);
    border-radius: 3px;
}

.imagen {
    width: 25px;
    height: auto;
    padding-right: 8px;
}

.boton_google {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #f0f0f0;
    color: var(--boton_azul);

    padding: 10px 15px;
    border-radius: 18px;

    align-items: center;

    font-weight: bold;
    font-size: 100%;
}

.boton {
    background-color: var(--boton_azul);
    border: 1px solid  var(--boton_azul);
    color: white;

    padding: 8px 0px;
    border-radius: 4px;
    margin: 0% 40%;

    font-size: 100%;

    text-align: center;
}

.footer_principal {
    padding: 4%;
    font-size: 110%;
}

/* Hacer un media para laptop L y mobile L en donde solo se cambie el tamaño de las letras y % de padding y margin */